/personlist/logs
/personlist/project/project
/personlist/project/target
/personlist/target
/personlist/tmp
/personlist/.history
/personlist/dist
/personlist/.idea
/personlist/*.iml
/personlist/out
/personlist/.idea_modules
/personlist/.classpath
/personlist/.project
/personlist/RUNNING_PID

.vscode
.vgcore
.idea
/*.iml
.classpath
.project
